<div class="row">
    <div class="card">
      <div class="card-header bg-warning text-white">
        
        <strong>Project Details</strong>
        <select (change)="update($event)">
            <option>Hidden Projects</option>
            <option *ngFor="let hidden of hiddenProjectsArr">
                {{hidden.name}}
            </option>
        </select>
        <button type="button" class="btn btn-primary btn-sm" style="float:right;" (click)="addProject()">Add Project </button>
      </div>
      <div class="card-body">
        <div class="row">
          <table class="table table-bordered">
            <thead>
                
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">client</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
            
              <tr *ngFor="let project of projectsArr"> 
               
                <th scope="col">{{project.name}}</th>
                
                <th scope="col">{{project.description}}</th>
                
                
                <th scope="col"><a target="_blank" href="{{project.client}}" >Go to {{project.name}}</a></th>
               
                <th class="text-centre">
                    <button (click)="editProj(project)" class="btn btn-primary sm">Edit</button>
                    <button (click)="deleteProj(project.id)" class="btn btn-danger sm">Delete</button>
                    <button (click)="hideProj(project)" class="btn btn-secondary sm">Hide</button>
                </th>
                
              </tr>
            
              
            </tbody>
          </table>
        </div>
        
      </div>
     </div>

    
    
    <!--modal-->
    <div  class="modal" id="projectModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-success text-white">
            <h6 class="modal-title">Add Student Details</h6>
            <button type="button" class="btn-close btn-sn text-white" (click)="closeModal()"></button>
          </div>
          <form #userForm="ngForm">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8">
                  <label class="for-label">Project Name</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="project.name" >
                  <label class="for-label">Project Client</label>
                  <input type="text" name="client" class="form-control" [(ngModel)]="project.client">
                  <label class="for-label">Project description</label>
                  <input type="text" name="description" class="form-control" [(ngModel)]="project.description">
                  <label class="for-label">Photo</label>
                  <input type="file" (change)="uploadPhoto()" name="description" class="form-control" [(ngModel)]="project.photo">
                  <img src="{{project.photo}}">
                </div>
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-secondary btn-sm" (click)="closeModal()">Cancel</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-sm" [disabled]="userForm.invalid" *ngIf="project.id == 0" (click)="saveProject(userForm)">Save</button>
                    <button class="btn btn-success btn-sm" [disabled]="userForm.invalid" *ngIf="project.id != 0" (click)="updateProject()">Edit</button>
                </div>
            </div>
        </div>
        
        </div>
        
      </div>
    </div>
    
    
      
  </div>
 